*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("https://img.freepik.com/vetores-gratis/paisagem-com-pantano-na-floresta-tropical_107791-1264.jpg?w=996&t=st=1678374077~exp=1678374677~hmac=8cfe59d8feaac40b051d5eacd759eaa902dbe432e740a310f23ffca6e965b3b3");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}

.mosquito1{
    width:50px;
    height:50px;
}
.mosquito2{
    width:80px;
    height:80px;
}
.mosquito3{
    width:100px;
    height:100px;
}

.ladoA{
    transform: scaleX(1);
}

.ladoB{
    transform: scaleX(-1);
}

.painel{
    position: absolute;
    width: 190px;
    padding:10px;
    bottom: 0px;
    background:transparent;
    opacity: 1;
}

.vidas{
    float: left;
}

.cronometro{
    float: left;
    font-size: 20px;
    font-weight: bold;
}
