*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    cursor: url(./imagens/mataMosca.png) 30 30, auto;
}

body{
    background-image: url(./imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.mosquito1{
    width:50px;
    height:50px;
}
.mosquito2{
    width:80px;
    height:80px;
}
.mosquito3{
    width:100px;
    height:100px;
}

.ladoA{
    transform: scaleX(1);
}

.ladoB{
    transform: scaleX(-1);
}

.painel{
    position: absolute;
    width: 190px;
    padding:10px;
    bottom: 0px;
    background:transparent;
    opacity: 1;
}

.vidas{
    float: left;
}

.cronometro{
    float: left;
    font-size: 20px;
    font-weight: bold;
}
